<!DOCTYPE html>
<html>
	<head>
		<title>Counselling Project</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<center>
			<h4>Welcome to Counselling App</h4>
			<h4>Please register here.</h4>
			<form action="register-student" method="post">
				Name: <input type="text" name="txtName" placeholder="Enter Name">
				<br>
				Phone: <input type="text" name="txtPhone" placeholder="Enter phone number">
				<br>
				Email: <input type="text" name="txtEmail" placeholder="Enter email">
				<br>
				Password: <input type="text" name="txtPassword" placeholder="Enter 6 digit password">
				<br>
				Confirm Password: <input type="text" name="txtConfirmPassword" placeholder="Re-enter the password">
				<br>
				<input type="submit" value="Register">
			</form>
		</center>
	</body>
</html>