<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Marks</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<style>

			div.button {
				margin-top: 30px;
				margin-left: 1250px;
				margin-right: 0px;
				margin-bottom: 20px;
			}

		</style>
    </head>
    <body>
        <div class="container">
			<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>Reg No.</th>
					<th>Subject</th>
					<th>Class1</th>
					<th>Class2</th>
					<th>Class3</th>
					<th>Class4</th>
					<th>Class5</th>
					<th>Class6</th>
					<th>Class7</th>
					<th>Class8</th>
					<th>Class9</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>{{result['reg1']}}</td>
					<td>{{result['subject']}}</td>
					<td>{{result['c1']}}</td>
					<td>{{result['c2']}}</td>
					<td>{{result['c3']}}</td>
                    <td>{{result['c4']}}</td>
                    <td>{{result['c5']}}</td>
                    <td>{{result['c6']}}</td>
					<td>{{result['c7']}}</td>
					<td>{{result['c8']}}</td>
					<td>{{result['c9']}}</td>
				</tr>
				</tbody>
			</table>
			</div>
		</div>
    </body>
</html>